{{>headers}}
<title>All Bookings</title>
<style>
    #bookingTabs .nav-link {
        color: white;
        background-color: gray;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    #bookingTabs .nav-link.active {
        background-color: black;
        color: white;
    }

    div.top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    div.middle {
        margin-bottom: 10px;
    }

    div.second {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
</style>

<div class="row p-2" style="margin: 0px !important;">
    <div class="col-md-12">
        <div class="card mt-2" style="border-left: 2px solid black;">
            <div class="card-header">
                <h4><b style="color: white; font-family: 'Lato'">Prevelleges</b></h4>
            </div>
            <div class="card-body p-2" style="font-family: 'Lato'">
                <ul class="nav nav-pills" style="margin-bottom: 6px; gap:12px" id="bookingTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#allBookings" role="tab"
                            aria-controls="allBookings" aria-selected="true">All Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#upcomingBookings" role="tab"
                            aria-controls="upcomingBookings" aria-selected="false">All Prevelleges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="roles-tab" data-toggle="tab" href="#roles" role="tab"
                            aria-controls="roles" aria-selected="false">All Roles</a>
                    </li>
                      
                </ul>
                <div class="modal fade" id="moduleModel" tabindex="-1" aria-labelledby="whatsAppModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered ">
                        <form style="padding: 12px;" action="/modules" method="post"
                            class="card sms-card bg-white modal-content ">
                            <button class="close-btn">&times;</button>
                            <h5 class="mb-4 fw-semibold">Create Module</h5>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <label class="form-label">Module Name</label>
                                    <input type="type" name="moduleName" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Status</label>
                                    <select name="status" class="form-control">
                                        <option value="active">active</option>
                                        <option value="inactive">in active</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-right align-items-right gap-3">
                                <button class="btn btn-clear px-4" role="button"
                                    style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Clear
                                    All</button>
                                <button type="submit" class="btn btn-save px-4" role="button"
                                    style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Save</button>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="modal fade" id="roleModel" tabindex="-1" aria-labelledby="whatsAppModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered ">
                        <form style="padding: 12px;" method="post" action="/admin/roles"
                            class="card sms-card bg-white modal-content ">
                            <button class="close-btn">&times;</button>
                            <h5 class="mb-4 fw-semibold">Create Module</h5>

                            <div class="row mb-3">
                                <div class="col-3">
                                    <label class="form-label">Role Name</label>
                                    <input type="type" name="roleName" class="form-control">
                                </div>
                                <div class="col-3">
                                    <label class="form-label">Select Module</label>
                                    <select class="form-control" name="moduleIds">
                                        {{#each moduleExist}}
                                        <option value="{{this._id}}" class="form-control"
                                            style="text-transform: capitalize;">
                                            {{this.moduleName}}
                                        </option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="form-label">Status</label>
                                    <select name="status" class="form-control">
                                        <option value="active">active</option>
                                        <option value="inactive">in active</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-right align-items-right gap-3">
                                <button class="btn btn-clear px-4" role="button"
                                    style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Clear
                                    All</button>
                                <button type="submit" class="btn btn-save px-4" role="button"
                                    style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Save</button>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="modal fade" id="privilegeModel" tabindex="-1" aria-labelledby="whatsAppModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered ">
                        <form style="padding: 12px;" action="/privileages/create" method="post"
                            class="card sms-card bg-white modal-content ">
                            <button class="close-btn">&times;</button>
                            <h5 class="mb-4 fw-semibold">Create Module</h5>

                            <div class="row mb-3">
                                <div class="col-3">
                                    <label class="form-label">Privilege Name</label>
                                    <input type="type" name="priveleageName" class="form-control">
                                </div>
                                <div class="col-3">
                                    <label class="form-label">Select Slug</label>
                                    <select name="slugIds">
                                        <option value="">Lowde</option>
                                    </select>

                                </div>
                                <div class="col-3">
                                    <label class="form-label">Status</label>
                                    <select name="status" class="form-control">
                                        <option value="active">active</option>
                                        <option value="inactive">in active</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-right align-items-right gap-3">
                                <button class="btn btn-clear px-4" role="button"
                                    style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Clear
                                    All</button>
                                <button type="submit" class="btn btn-save px-4" role="button"
                                    style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Save</button>
                            </div>
                        </form>
                    </div>

                </div>

                <!-- Tabs Content -->
                <div class="tab-content" id="bookingTabsContent">
                    <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
                        <div style="display: flex;justify-content:right;align-items:center">
                            <button role="button" data-bs-toggle="modal" data-bs-target="#roleModel"
                                style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Create
                                Role</button>

                        </div>
                        <div id="example2_wrapper">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="upcomingBookingsTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Role Name</th>
                                                <th>Module</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- All Bookings Tab -->
                    <div class="tab-pane fade show active" id="allBookings" role="tabpanel" aria-labelledby="all-tab">
                        <div style="display: flex;justify-content:right;align-items:center">
                            <button role="button" data-bs-toggle="modal" data-bs-target="#moduleModel"
                                style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Create
                                Module</button>

                        </div>
                        <div id="example1_wrapper">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="allBookingsTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Module Name</th>
                                                <th>Privileges</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each moduleExist}}
                                            <tr>
                                                <td>{{inc @index}}</td>
                                                <td>{{this.moduleName}}</td>
                                                <td>...</td>
                                                {{#each this.priveleages}}
                                                <td>..</td>
                                                {{/each}}
                                                <td>{{this.status}}</td>
                                                {{/each}}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Upcoming Bookings Tab -->
                    <div class="tab-pane fade" id="upcomingBookings" role="tabpanel" aria-labelledby="upcoming-tab">
                        <div style="display: flex;justify-content:right;align-items:center">
                            <button role="button" data-bs-toggle="modal" data-bs-target="#privilegeModel"
                                style="background-color: blue; padding:10px 20px; border:1px solid grey; margin-bottom:6px;color:white;border:none;border-radius:5px">Create
                                Privileges</button>

                        </div>
                        <div id="example2_wrapper">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="upcomingBookingsTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Privileges Name</th>
                                                <th>Slugs</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Add these in your layout, before your DataTables scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

<script>

    $(document).ready(function () {
        $('#allBookingsTable').DataTable({
            paging: true,
            pagingType: "full_numbers",
            dom: 'Blfrtip',
            dom: '<"top"B><"second"lf><"bottom"rtip>',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print', 'colvis'],
            lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]]
        })



        $('#upcomingBookingsTable').DataTable({
            fv  
            paging: true,
            pagingType: "full_numbers",
            dom: 'Blfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf' 'print', 'colvis'],
            dom: '<"top"B><"second"lf><"bottom"rtip>',
            lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]]
        });

    });

</script>
{{>footer}}